@charset "UTF-8";
/*¨HEADER*/
.navbar__toggler {
  background-color: #3d3d3d;
  color: #bdb8ad;
  margin-right: 10px; }

.container__fluid {
  background-color: black;
  height: 4vh; }

.header {
  display: flex;
  justify-content: center; }
  .header__logo {
    margin-top: 6px;
    margin-left: 10px; }
  .header__item {
    font-family: 'Alumni Sans Pinstripe', sans-serif; }

.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 60px; }
  .navbar__item {
    background-color: black; }
  .navbar__link {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    font-size: 1.3rem; }
  .navbar__link:hover {
    border-bottom: 1px solid #bdb8ad;
    color: white; }

/*FIN-HEADER*/
