@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

h2 {
  color: #ffff;
  font-size: 5em;
  font-family: "Six Caps", sans-serif; }

h3 {
  color: cornsilk;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 3em; }

h4 {
  color: #800000;
  font-weight: bold; }

p {
  color: floralwhite;
  font-family: "Antic", sans-serif;
  font-size: 25px; }

/*¨HEADER*/
.header {
  display: flex;
  justify-content: center; }
  .header__logo {
    margin-top: 6px;
    margin-left: 10px; }
  .header__item {
    font-family: 'Alumni Sans Pinstripe', sans-serif; }

.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 60px; }
  .navbar__link {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    font-size: 1.3rem; }
  .navbar__link:hover {
    border-bottom: 1px solid #bdb8ad;
    color: white; }

.nav-item {
  background-color: black; }

.navbar-toggler {
  background-color: #3d3d3d;
  color: #bdb8ad;
  margin-right: 10px; }

.container-fluid {
  background-color: black;
  height: 4vh; }

/*FIN-HEADER*/
/* INDEX */
/* SECTION-PORTADA */
.portada {
  background-image: url(../../img/fondo_sectionultimo.jpg);
  background-position: center bottom;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .portada__div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    background: linear-gradient(360deg, black, transparent);
    padding: 1rem;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white; }
  .portada__links {
    text-decoration: none;
    color: darkred; }
  .portada__links:hover {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffff;
    color: #800000;
    font-weight: bolder;
    padding: 0px 5px; }

/* SECTION-PORTADA-FIN */
/* SECTION-PRESENTACION */
.equipo {
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  height: 100vh; }
  .equipo__presentacion {
    width: 60%;
    text-align: center;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .equipo__presentacion h2 {
    margin-bottom: 30px; }

/* SECTION-PRESENTACION-FIN */
/* CARTEL-EQUIPO */
.cartel__equipo {
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 20px; }

/* CARTEL-EQUIPO-FIN */
/* SECTION-TRABAJADORES */
.trabajadores {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 140px;
  margin-bottom: 100px;
  overflow: hidden; }
  .trabajadores__container {
    border: 5px solid black;
    text-align: center; }
  .trabajadores__container div h2 {
    font-size: 4em; }
  .trabajadores__container div h3 {
    font-size: 2em; }
  .trabajadores__container div p {
    text-align: left;
    padding: 20px; }
  .trabajadores__container__nombre {
    border: 1px solid white; }
  .trabajadores__img {
    width: 310px;
    height: 310px;
    border-radius: 10px; }

.cartel__final {
  text-align: center;
  border-top: 1px solid #1f1f1f;
  padding-top: 100px;
  padding-bottom: 100px; }

/* SECTION-TRABAJADORES-FIN */
/* INDEX-FIN */
/* CONTACTO */
.cartel__contacto {
  padding: 10px 0;
  margin: 70px auto;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

.datos {
  display: flex;
  justify-content: space-around;
  width: 67%;
  margin: 150px auto; }
  .datos__input {
    background-color: #1B1A1B;
    color: white;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid #3F3F3F;
    border-right: none;
    outline: none;
    width: 55%; }
  .datos__formulario form input:focus-visible {
    border-bottom: 1px solid #800000; }
  .datos__formulario form textarea:focus-visible {
    border-bottom: 1px solid #800000; }
  .datos__formulario p {
    font-size: 20px; }
  .datos__formulario form p {
    color: floralwhite;
    font-size: 20px;
    font-weight: bold;
    margin: 12px 0px; }

.caja {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  height: 50px; }
  .caja__input {
    width: 55%; }
  .caja__boton {
    padding: 5px 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    color: #ffff;
    background-color: #800000;
    border: none;
    width: 55%; }
  .caja__boton:hover {
    background-color: #A60207; }

/* CONTACTO-FIN */
/* CUIDADOS */
.cuidados__container {
  display: flex;
  justify-content: center;
  margin: 150px 0; }
  .cuidados__container div h2 {
    position: absolute;
    margin-bottom: 100px; }
  .cuidados__container div a {
    color: #ffff; }
  .cuidados__container img {
    width: 512.5px;
    height: 731.16px;
    opacity: 0.6; }
  .cuidados__container__div {
    background-color: black;
    width: 512.5px;
    height: 731.16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 37px; }
  .cuidados__container__div:hover {
    background-color: #800000;
    border: 2px solid grey;
    width: 515px;
    height: 733.66px; }

/* CUIDADOS-FIN */
/* CUIDADOS-TATTO */
.consejos__container {
  display: flex;
  justify-content: space-between;
  width: 64%;
  margin: 150px auto; }
  .consejos__container__divs {
    width: 69%; }
  .consejos__container__div2 {
    margin-top: 50px;
    padding-right: 226px; }
  .consejos__container h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    color: cornsilk; }
  .consejos__container div ul li p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 40px; }
  .consejos__container div img {
    width: 356.66px;
    height: 508.83px;
    opacity: 0.7; }

.container__boton {
  display: flex;
  justify-content: center; }
  .container__boton__piercing {
    background-color: #800000;
    color: white;
    width: auto;
    height: 50px;
    margin-top: 30px;
    padding: 0 20px; }
  .container__boton__piercing:hover {
    background-color: black;
    color: #800000;
    border: 1px solid #800000; }

/* ESTUDIO */
.estudio {
  padding: 100px 0px; }
  .estudio__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .estudio__img__div {
    margin: auto; }
  .estudio__img__div img {
    width: 982px;
    height: 499px; }
  .estudio__texto__div {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px 0px;
    width: 65%; }
  .estudio__texto__div h2 {
    font-size: 4em; }
  .estudio__texto__div h3 {
    font-size: 2em; }
  .estudio__texto__div p {
    font-size: 1.5em; }
  .estudio__cartel {
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 20px; }

.higiene {
  padding: 150px 0px;
  display: flex;
  justify-content: center; }
  .higiene__container {
    width: 50%;
    text-align: center; }

/* TRABAJOS */
.galeria {
  margin: 100px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: dense;
  gap: 1rem; }
  .galeria div img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .galeria__vertical {
    grid-row: span 2; }
  .galeria__horizontal {
    grid-column: span 2; }
  .galeria__gigante {
    grid-row: span 2;
    grid-column: span 2; }

/* TRABAJOS-FIN */
/* FOOTER */
.redes {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #1f1f1f; }
  .redes__lista {
    margin: 0;
    padding: 0; }
  .redes__item {
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center; }
  .redes__item a {
    display: block;
    color: #ffff;
    line-height: 50px;
    font-size: 25px; }
  .redes__item .facebook:hover {
    background-color: #3b5998;
    border-radius: 5px; }
  .redes__item .instagram:hover {
    background-color: #e4405f;
    border-radius: 5px; }
  .redes__item .tiktok:hover {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 48px; }

/* FOOTER-FIN */
/* MEDIA */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* INDEX */
  p {
    color: floralwhite;
    font-family: 'Antic', sans-serif;
    font-size: 15px; }
  h2 {
    font-family: 'Six Caps', sans-serif;
    font-size: 2.5em;
    color: #ffff; }
  h3 {
    color: cornsilk;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 1.5em; }
  .header {
    display: flex;
    justify-content: center;
    height: 7.5vh; }
  .container-fluid {
    background-color: black;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
    padding: 0; }
  .navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7.5vh;
    padding: 0; }
  .portada {
    background-image: url(../../img/portada_movile.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .portada__div {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      width: 100%;
      background: linear-gradient(360deg, black, transparent);
      padding: 1rem;
      border-top: 0.5px solid white;
      border-bottom: 0.5px solid white; }
  .equipo__presentacion {
    text-align: center;
    line-height: 20px; }
  .cartel__div {
    margin: 20px; }
  .trabajadores__img {
    height: 300px;
    width: 300px; }
  /*FIN_INDEX*/
  /*CONTACTO*/
  .cartel__contacto {
    padding: 10px 0;
    margin: 30px 0;
    width: auto;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
  .datos {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    margin: 70px 30px; }
    .datos__input {
      background-color: #1B1A1B;
      border: none;
      border-bottom: 2px solid #3F3F3F;
      border-right: none;
      outline: none;
      width: 100%; }
  .caja__boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
    width: 100%; }
  .datos__local {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #1f1f1f; }
  /*FIN-CONTACTO*/
  /* CUIDADOS */
  .cuidados__container {
    display: flex;
    flex-direction: column;
    margin: 50px 0px; }
    .cuidados__container div h2 {
      position: absolute;
      margin-bottom: 20px; }
    .cuidados__container img {
      width: 226.5px;
      height: 331.16px;
      opacity: 0.6; }
    .cuidados__container__div {
      background-color: black;
      margin: 20px 0px;
      width: 100vw;
      height: auto; }
    .cuidados__container__div:hover {
      background-color: #800000;
      border: 2px solid grey;
      width: 226.5px;
      height: 331.16px;
      margin: auto; }
  /* CUIDADOS-TATTOOYPIERCING */
  .consejos__container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 70px auto; }
    .consejos__container__divs {
      display: flex;
      flex-direction: column;
      width: 90vw; }
    .consejos__container__div1 {
      margin: 0 20px;
      text-align: center; }
    .consejos__container__div1 p {
      font-size: 1.2rem; }
    .consejos__container__div2 {
      margin-top: 50px;
      padding: 0 20px; }
    .consejos__container__div2 h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 1rem;
      color: cornsilk; }
    .consejos__container__dvi2 div ul li p {
      font-family: 'Rajdhani', sans-serif;
      font-size: 0.6rem;
      margin-bottom: 40px; }
    .consejos__container__img {
      width: 261px;
      margin: auto; }
    .consejos__container div img {
      width: 259.5px;
      height: 353.16px;
      opacity: 0.7; }
  .container__boton {
    display: flex;
    justify-content: center; }
    .container__boton__piercing {
      background-color: #800000;
      color: white;
      border: none;
      width: auto;
      height: 50px;
      margin-top: 30px;
      padding: 0 20px; }
    .container__boton__piercing:hover {
      background-color: black;
      color: #800000;
      border: 1px solid #800000; }
  /* FIN-CUIDADOS-TATTOOYPIERCING */
  /* FIN-CUIDADOS */
  /* ELESTUDIO */
  .estudio {
    padding: 30px 0px; }
    .estudio__container {
      width: 100%;
      margin: 0px; }
    .estudio__img__div {
      width: 100%;
      overflow: scroll; }
    .estudio__img__div img {
      width: 883px;
      height: 472px; }
    .estudio__texto__div {
      padding: 50px 0px;
      margin: 10px; }
    .estudio__texto__div h2 {
      font-size: 3.5rem; }
    .estudio__texto__div h3 {
      font-size: 2rem; }
    .estudio__texto__div p {
      font-size: 1rem; }
  .higiene {
    padding: 50px 0px; }
    .higiene__container {
      width: 90%; }
  /* ELESTUDIO-FIN */
  /* TRABAJOS */
  .vertical, .horizontal, .movil {
    grid-column: span 2; }
  /* TRABAJOS-FIN */ }

@media screen and (min-width: 481px) and (max-width: 800px) {
  /*INDEX*/
  p {
    color: floralwhite;
    font-family: 'Antic', sans-serif;
    font-size: 20px; }
  h2 {
    font-family: 'Six Caps', sans-serif;
    font-size: 3em;
    color: #ffff; }
  h3 {
    color: cornsilk;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 2em; }
  .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
    padding: 0; }
  .navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7.5vh;
    padding: 0; }
  .portada {
    background-image: url(../../img/portada_movile.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .portada__div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    background: linear-gradient(360deg, black, transparent);
    padding: 1rem;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white; }
  .equipo__presentacion {
    text-align: center;
    line-height: 25px; }
  .cartel__div {
    margin: 20px 40px; }
  /*FIN-INDEX*/
  /*CONTACTO*/
  .cartel__contacto {
    padding: 10px 0;
    margin: 30px 0;
    width: auto;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
  .datos {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    margin: 70px 100px;
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px solid #1f1f1f; }
    .datos__input {
      background-color: #1B1A1B;
      border: none;
      border-bottom: 2px solid #3F3F3F;
      border-right: none;
      outline: none;
      width: 100%; }
    .datos__local {
      margin-top: 100px; }
  .caja__boton {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%; }
  /* FIN-CONTACTO */
  .gigante {
    grid-row: span 2;
    grid-column: span 2; }
  /* CUIDADOS */
  .cuidados__container {
    display: flex;
    flex-direction: column;
    margin: 50px 0px; }
    .cuidados__container div h2 {
      position: absolute;
      margin-bottom: 75px;
      font-size: 4rem; }
    .cuidados__container__div a img {
      width: 426.5px;
      height: 563.16px;
      opacity: 0.6; }
    .cuidados__container__div {
      background-color: black;
      margin: 20px 0px;
      width: 100vw;
      height: auto; }
    .cuidados__container__div:hover {
      background-color: #800000;
      border: 2px solid grey;
      width: 426.5px;
      height: 580.16px;
      margin: auto; }
  /* CUIDADOS-FIN */
  /* CUIDADOS-TATTOOYPIERCING */
  .cuidados__container {
    display: flex;
    flex-direction: column;
    margin: 50px 0px; }
    .cuidados__container div h2 {
      position: absolute;
      margin-bottom: 20px; }
    .cuidados__container img {
      width: 226.5px;
      height: 331.16px;
      opacity: 0.6; }
    .cuidados__container__div {
      background-color: black;
      margin: 20px 0px;
      width: 100vw;
      height: auto; }
    .cuidados__container__div:hover {
      background-color: #800000;
      border: 2px solid grey;
      width: 226.5px;
      height: 331.16px;
      margin: auto; }
  /* CUIDADOS-TATTOO */
  .consejos__container {
    display: flex;
    width: 90vw; }
    .consejos__container__divs {
      display: flex;
      flex-direction: column; }
    .consejos__container__div1 {
      margin: 0 20px; }
    .consejos__container__div2 {
      margin-top: 50px;
      padding: 0 20px; }
    .consejos__container h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 1rem;
      color: cornsilk; }
    .consejos__container div ul li p {
      font-family: 'Rajdhani', sans-serif;
      font-size: 1.3rem;
      margin-bottom: 40px; }
    .consejos__container__img {
      width: 261px; }
    .consejos__container div img {
      width: 259.5px;
      height: 353.16px;
      opacity: 0.7; }
  .container__boton {
    display: flex;
    justify-content: center; }
    .container__boton__piercing {
      background-color: #800000;
      color: white;
      border: none;
      width: auto;
      height: 50px;
      margin-top: 30px;
      padding: 0 20px; }
    .container__boton__piercing:hover {
      background-color: black;
      color: #800000;
      border: 1px solid #800000; }
  /* CUIDADOS-TATTOOYPIERCING-FIN */
  /* ELESTUDIO */
  .estudio {
    padding: 30px 0px; }
    .estudio__container {
      width: 100%;
      margin: 0px; }
    .estudio__img__div {
      width: 100%;
      overflow: scroll; }
    .estudio__img__div img {
      width: 883px;
      height: 472px; }
    .estudio__texto__div {
      padding: 50px 0px;
      margin: 10px; }
    .estudio__texto__div h2 {
      font-size: 3.5rem; }
    .estudio__texto__div h3 {
      font-size: 2rem; }
    .estudio__texto__div p {
      font-size: 1rem; }
  .higiene {
    padding: 50px 0px; }
    .higiene__container {
      width: 90%; } }

/* ELESTUDIO-FIN */
@media screen and (min-width: 801px) and (max-width: 1024px) {
  /* CUIDADOS-TATTOOYPIERCING */
  .cuidados__container {
    display: flex; }
    .cuidados__container div h2 {
      position: absolute;
      margin-bottom: 75px;
      font-size: 4rem; }
    .cuidados__container img {
      width: 400px;
      height: 530px;
      opacity: 0.6; }
    .cuidados__container__div {
      background-color: black;
      width: 100vw;
      height: auto; }
    .cuidados__container__div:hover {
      background-color: #800000;
      border: 2px solid grey;
      width: 400px;
      height: 530px;
      margin: 0px 55px; }
  /* CUIDADOS-TATTOOYPIERCING-FIN */
  /* ELESTUDIO */
  .estudio {
    padding: 30px 0px; }
    .estudio__container {
      width: 100%;
      margin: 0px; }
    .estudio__img__div img {
      width: 983px;
      height: 572px; }
    .estudio__texto__div {
      padding: 50px 0px;
      margin: 10px; }
    .estudio__texto__div h2 {
      font-size: 3.5rem; }
    .estudio__texto__div h3 {
      font-size: 2rem; }
    .estudio__texto__div p {
      font-size: 1rem; }
  .higiene {
    padding: 50px 0px; }
    .higiene__container {
      width: 90%; }
  /* ELESTUDIO-FIN */ }
