* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* **************************************
------------INDEX
**************************************** */

body {
    background: black;
}

/*¨HEADER*/


.navbar-toggler {
    background-color: #3d3d3d;
    color: #bdb8ad;
}

.container-fluid {
    background-color: black;
}

.navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

/* .header__logo {
    display: block;
    height: 200px;
    border-right: 1px solid black;
}
 */
.header__item {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.nav__link {
    color: white;
    text-decoration: none;
    margin: 0.5rem;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.header__link:hover {
    border-bottom: 1px solid black;
}


/*FIN-HEADER*/


/*MAIN*/


p {
    color: floralwhite;
    font-family: 'Antic', sans-serif;
    font-size: 25px;
}

h2 {
    font-family: 'Six Caps', sans-serif;
    font-size: 5em;
    color: #ffff;
}

h3 {
    color: cornsilk;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 3em;
}

h4 {
    color: #800000;
    font-weight: bold;
}

/*SECTION-PORTADA*/


.portada {
    background-image: url(../../img/fondo_sectionultimo.jpg);
    background-position: center bottom;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada__div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    background: linear-gradient(360deg, black, transparent);
    padding: 1rem;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}

.portada__links {
    text-decoration: none;
    color: darkred;
}

.portada__links:hover {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffff;
    color: #800000;
    font-weight: bolder;
    padding: 0px 5px;
}


/*FIN-SECTION-PORTADA*/


/*SECTION-EQUIPO*/

.ets__equipo {
    margin-bottom: 30px;
}


.equipo {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.equipo__presentacion {
    width: 60%;
    text-align: center;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* FIN-SECTION-EQUIPO */

.cartel__equipo {
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 20px;   
}


/* SECTION-TRABAJADORES */


.trabajadores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 140px;
    margin-bottom: 100px;
}

.trabajadores div {
    border: 5px solid black;
    text-align: center;
}

.trabajadores div h2 {
    font-size: 4em;
}

.trabajadores div h3 {
    font-size: 2em;
}

.div__nombres {
    border: 1px solid white;
}

.trabajadores div p {
    text-align: left;
    padding: 20px;
}

.trabajadores__img {
    width: 310px;
    height: 310px;
    border-radius: 10px;
}

/* FIN-SECTION-TRABAJADORES */


.cartel__div {
    text-align: center;
    border-top: 1px solid #1f1f1f;
    padding-top: 100px;
    padding-bottom: 100px;
}


/*FIN-MAIN*/


/* FOOTER */

footer {
    text-align: center;
}

/* **************************************
----------- FIN-INDEX
**************************************** */


/* **************************************
------------CONTACTO
**************************************** */


.cartel__contacto {
    padding: 10px 0;
    margin: 70px auto;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.contenedor__datos__form {
    display: flex;
    justify-content: space-around;
    width: 67%;
    margin: 50px auto;
}

.input {
    background-color: #1B1A1B;
    border: none;
    border-bottom: 2px solid #3F3F3F;
    border-right: none;
    outline: none;
    width: 400px;
}

input:focus-visible {   
    border-bottom:1px solid #800000;
}

textarea:focus-visible {
    border-bottom:1px solid #800000;
}

#form__p {
    font-size: 20px;
}

.p__input {
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    margin: 12px 0px;
}

.caja__boton {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    height: 50px;
}

.boton {
    padding: 5px 10px;
    font-size: 1.1rem;
    font-family: 'Antic', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    color: #ffff;
    background-color: #800000;
    border: none;
    width: 150px;
}

.boton:hover {
    background-color: #A60207;
}




/* **************************************
------------ FIN_CONTACTO
**************************************** */




/* ---------MEDIA_QUERIES---------- */



@media screen and (min-width: 320px) and (max-width: 480px) {

    /* **************************************
------------ INDEX
**************************************** */
    
    p {
        color: floralwhite;
        font-family: 'Antic', sans-serif;
        font-size: 15px;
    }
    
    h2 {
        font-family: 'Six Caps', sans-serif;
        font-size: 2.5em;
        color: #ffff;
    }
    
    h3 {
        color: cornsilk;
        font-family: 'Alumni Sans Pinstripe', sans-serif;
        font-size: 1.5em;
    }

    .portada {
        background-image: url(../../img/portada_movile.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portada__div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        background: linear-gradient(360deg, black, transparent);
        padding: 1rem;
        border-top: 0.5px solid white;
        border-bottom: 0.5px solid white;
    }

    .equipo__presentacion {
        text-align: center;
        line-height: 20px;
    }

    .cartel__div {
        margin: 20px;
    }

    /* **************************************
------------ FIN_INDEX
**************************************** */


/* **************************************
------------ CONTACTO
**************************************** */

    .cartel__contacto {
        padding: 10px 0;
        margin: 30px 0;
        width: auto;
        text-align: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .contenedor__datos__form {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        margin: 70px 30px;
    }
    
    .input {
        background-color: #1B1A1B;
        border: none;
        border-bottom: 2px solid #3F3F3F;
        border-right: none;
        outline: none;
        width: 100%; 
    }

    .caja__boton {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        height: 50px;
    }

    .datos {
        margin-top: 50px;
        padding-top: 50px;
        border-top: 1px solid #1f1f1f;
    }

    /* **************************************
------------FIN-CONTACTO
**************************************** */

}








@media screen and (min-width: 481px) and (max-width: 800px) {

    
    /* **************************************
------------INDEX
**************************************** */


    p {
        color: floralwhite;
        font-family: 'Antic', sans-serif;
        font-size: 20px;
    }
    
    h2 {
        font-family: 'Six Caps', sans-serif;
        font-size: 3em;
        color: #ffff;
    }
    
    h3 {
        color: cornsilk;
        font-family: 'Alumni Sans Pinstripe', sans-serif;
        font-size: 2em;
    }

    .portada {
        background-image: url(../../img/portada_movile.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portada__div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        background: linear-gradient(360deg, black, transparent);
        padding: 1rem;
        border-top: 0.5px solid white;
        border-bottom: 0.5px solid white;
    }


    .equipo__presentacion {
        text-align: center;
        line-height: 25px;
    }

    .cartel__div {
        margin: 20px 40px;
    }

    /* **************************************
------------FIN-INDEX
**************************************** */

/* **************************************
------------CONTACTO
**************************************** */

    .cartel__contacto {
        padding: 10px 0;
        margin: 30px 0;
        width: auto;
        text-align: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .contenedor__datos__form {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        margin: 70px 30px;
    }

    .input {
        background-color: #1B1A1B;
        border: none;
        border-bottom: 2px solid #3F3F3F;
        border-right: none;
        outline: none;
        width: 100%; 
    }

    .caja__boton {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        height: 50px;
    }

    .datos {
        margin-top: 50px;
        padding-top: 40px;
        border-top: 1px solid #1f1f1f;
    }

    /* **************************************
------------FIN-CONTACTO
**************************************** */
}


@media screen and (min-width: 801px) and (max-width: 1024px) {
    
    /* **************************************
------------INDEX
**************************************** */
    
    .equipo__presentacion {
        text-align: center;
        line-height: 20px;
    }

    .equipo__presentacion p {
        line-height: 30px;
    }

    .cartel__div {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 40px;
    }

 /* **************************************
------------FIN-INDEX
**************************************** */

 /* **************************************
------------CONTACTO
**************************************** */

.cartel__contacto {
    padding: 10px 0;
    margin: 30px 0;
    width: auto;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.contenedor__datos__form {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 70px 30px;
}

.input {
    background-color: #1B1A1B;
    border: none;
    border-bottom: 2px solid #3F3F3F;
    border-right: none;
    outline: none;
    width: 100%; 
}

.caja__boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
}

}