* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* **************************************
------------INDEX
**************************************** */

body {
    background: black;
}

/*¨HEADER*/


.container-fluid {
    background-color: #333333;
}

.navbar {
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

.header__logo {
    display: block;
    height: 13vh;
    border-right: 1px solid black;
}

.header__link {
    margin-right: 1.5rem;
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    
}

.header__item {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.nav__link {
    color: white;
    text-decoration: none;
    margin: 0.5rem;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
}

.header__link:hover {
    border-bottom: 1px solid black;
}


/*FIN-HEADER*/


/*MAIN*/


p {
    color: floralwhite;
    font-family: 'Antic', sans-serif;
    font-size: 25px;
}

h2 {
    font-family: 'Six Caps', sans-serif;
    font-size: 5em;
    color: #ffff;
}

h3 {
    color: cornsilk;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 3em;
    margin-bottom: 0.5rem;
}

h4 {
    color: #800000;
    font-weight: bold;
}

/*SECTION-PORTADA*/


.portada {
    background-image: url(../../img/fondo_sectionultimo.jpg);
    background-position: center bottom;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada__div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    background: linear-gradient(360deg, black, transparent);
    padding: 1rem;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}

.portada__links {
    text-decoration: none;
    color: darkred;
}

.portada__links:hover {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffff;
    font-weight: bolder;
    padding: 0px 5px;
}


/*FIN-SECTION-PORTADA*/


/*SECTION-EQUIPO*/

.ets__equipo {
    margin-bottom: 30px;
}


.equipo {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.equipo__presentacion {
    width: 60%;
    text-align: center;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/* FIN-SECTION-EQUIPO */

.cartel__equipo {
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 20px;   
}


/* SECTION-TRABAJADORES */


.trabajadores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* height: 60vh; */
}

.trabajadores div {
    border: 5px solid black;
    text-align: center;
}

.trabajadores div h2 {
    font-size: 4em;
}

.trabajadores div h3 {
    font-size: 2em;
}

.div__nombres {
    border: 1px solid white;
}

.trabajadores div p {
    text-align: left;
    padding: 20px;
}

.trabajadores__img {
    width: 310px;
    height: 310px;
}


/*FIN-MAIN*/


/* **************************************
----------- FIN-INDEX
**************************************** */


/* **************************************
------------CONTACTO
**************************************** */


.cartel__contacto {
    padding: 30px 0;
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.contenedor__datos__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid grey;
}

.input {
    background-color: #1B1A1B;
    border: none;
    border-bottom: 2px solid #3F3F3F;
    border-right: none;
    outline: none;
}

input:focus-visible {   
    border-bottom:1px solid #800000;
}

textarea:focus-visible {
    border-bottom:1px solid #800000;
}

/* textarea {
    border: none;
    background-color: #1B1A1B;
    border-bottom: 2px solid #3F3F3F;
    border-right: none; 
} */

#form__p {
    font-size: 20px;
}

.p__input {
    color: #ffff;
    font-size: 20px;
    font-family: ;
    font-weight: bold;
    margin: 5px 0px;
}

.caja__boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
}

.boton {
    padding: 5px 10px;
    font-size: 1.1rem;
    font-family: 'Antic', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    color: #ffff;
    background-color: #800000;
    border: none;
    width: 150px;
}

.boton:hover {
    background-color: #A60207;
}







@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #header {
        height: 60px;

    }
}