body {
    background-color: black;
}

h2 {
    color: $color_h2;
    font-size: $fontsize_h2;
    font-family: $font_h2;
}

h3 {
    color: $color_h3;
    font-family: $font_h3;
    font-size: $fontsize_h3;
}

h4 {
    color: $color_h4;
    font-weight: bold;
}

p {
    color: $color_p;
    font-family: $font_p;
    font-size: $fontsize_p;
}
