/* INDEX */
/* SECTION-PORTADA */

.portada {
    background-image: url(../../img/fondo_sectionultimo.jpg);
    background-position: center bottom;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        background: linear-gradient(360deg, black, transparent);
        padding: 1rem;
        border-top: 0.5px solid white;
        border-bottom: 0.5px solid white;
    }

    &__links {
        text-decoration: none;
        color: darkred;
    }

    &__links:hover {
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #ffff;
        color: #800000;
        font-weight: bolder;
        padding: 0px 5px;
    }
}

/* SECTION-PORTADA-FIN */
/* SECTION-PRESENTACION */

.equipo {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    height: 100vh;

    &__presentacion {
        width: 60%;
        text-align: center;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__presentacion h2 {
        margin-bottom: 30px;
    }
}

/* SECTION-PRESENTACION-FIN */
/* CARTEL-EQUIPO */

.cartel__equipo {
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 20px;   
}

/* CARTEL-EQUIPO-FIN */
/* SECTION-TRABAJADORES */

.trabajadores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 140px;
    margin-bottom: 100px;
    overflow:hidden;

    &__container {
    border: 5px solid black;
    text-align: center;
    }
    &__container div h2 {
        font-size: 4em;
    }
    &__container div h3 {
        font-size: 2em;
    }
    &__container div p {
        text-align: left;
        padding: 20px;
    }
    &__container__nombre {
        border: 1px solid white;
    }
    &__img {
        width: 310px;
        height: 310px;
        border-radius: 10px;
    }
}

.cartel__final {
    text-align: center;
    border-top: 1px solid #1f1f1f;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* SECTION-TRABAJADORES-FIN */
/* INDEX-FIN */