
$color_p: floralwhite;
$font_p: 'Antic', sans-serif;
$fontsize_p: 25px;

$color_h2: #ffff;
$font_h2: 'Six Caps', sans-serif;
$fontsize_h2: 5em;

$color_h3: cornsilk;
$font_h3: 'Alumni Sans Pinstripe', sans-serif;
$fontsize_h3: 3em;

$color_h4: #800000;



